.Weather {
  font-family: Handlee;
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  margin: 20px 300px;
  background-color: ;
}

.Weather body {
  max-width: 60%;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 80px;
  line-height: 1;
  font-weight: 700;
  margin-left: 10px;
  /* display: inline-block;
  vertical-align: middle; */
}

.Weather canvas {
  /* height: 128px;
  margin-right: 10px;
  display: inline-block; */
  margin: 10px auto;
  /* vertical-align: middle; */
}
.Weather .unit {
  /* color: rgb(33, 33, 33); */
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: #b3d7ff;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.WeatherForecast .WeatherForecast-temperature-max {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: 700;
}

.WeatherForecast .WeatherForecast-temperature-min {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: 700;
}

.WeatherInfo .humidity ,.WeatherInfo .wind {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: 700;
}
